.links{
    text-align: right;

}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form{
    display: grid;
    place-items: center;
}

div.forms{
    display: inline-block;
    place-items: center;
    vertical-align: middle;
    margin-left:20px
}

label {
    float: left;
    text-align: right;
}
