{% extends "wildernis/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <h2>Register</h2>
                <img src="{% static '/wildernis/media/login_logo.png' %}" alt="logo"/>

                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" autofocus type="text" name="username" placeholder="Gebruikersnaam">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Email adres">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Wachtwoord">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="confirmation" placeholder="Wachtwoord bevestigen">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Registeren">
                </form>
                Heb je al een account? <a href="{% url 'login' %}">Log in.</a>
            </div>
        </div>
    </div>
{% endblock %}